# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# WhatsApp (Fonnte)
WHATSAPP_PROVIDER=fonnte
WHATSAPP_API_KEY=
WHATSAPP_API_URL=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
WEBHOOK_SECRET=
CRON_SECRET=
